aiohttp==3.8.1
aiohttp-wsgi==0.10.0
aiosignal==1.2.0
appdirs==1.4.3
astroid==2.4.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
audioread==2.1.9
beautifulsoup4==4.9.3
blis==0.7.6
bs4==0.0.1
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cycler==0.11.0
cymem==2.0.6
Flask==2.0.2
fpdf==1.7.2
gensim==3.8.3
importlib-metadata==1.6.0
Jinja2==3.0.3
librosa==0.8.1
nltk==3.6.6
pathy==0.6.1
Pillow==9.0.1
pydub==0.25.1
pyLDAvis==3.3.1
rouge==1.0.1
Sastrawi==1.0.1
scikit-learn==1.0.2
scipy==1.7.3
sklearn==0.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
virtualenv==20.0.17
websockets==10.3
Werkzeug==2.0.2
wrapt==1.12.1
yarl==1.7.2
zipp==3.1.0
